<mat-toolbar>
    <span>Who Wants To Be A Millonaire?</span>
</mat-toolbar>

<mat-card *ngIf="state$ | async as store">
    <mat-card-content>
        <div [ngSwitch]="page">
            <div *ngSwitchCase="pageItem.Login">
                <app-login (page)="setPage($event)"></app-login>
            </div>
            <div *ngSwitchCase="pageItem.Game">
                <div class="status">
                    <div class="status-wrapper">
                        <div>Username: {{store.username}}</div>
                        <div>Wrong Steps: {{store.wrong_steps.length}}</div>
                        <div>Correct Steps: {{store.correct_steps.length}}</div>
                        <div>Score: {{store.score}}</div>
                        <div>Available Skips: {{store.availableSkips}}</div>
                    </div>
                    <div class="timer-wrapper">
                        <mat-progress-spinner class="spinner" [color]="timer.color" [mode]="'determinate'"
                            [value]="timer.value">
                        </mat-progress-spinner>
                        <div class="timer">{{timer.timer}}</div>
                    </div>
                </div>
                <mat-horizontal-stepper linear #stepper>
                    <mat-step editable="false" *ngFor="let q of questionaireItems; let i = index">
                        <question-presenter [questionIndex]="i" [questionaireItem]="q"
                            (chosenAnswer)="chosenAnswer($event)">
                        </question-presenter>
                        <div class="btn-section">
                            <button mat-button matStepperNext [disabled]="!isNextEnable" (click)="nextStep()">
                                Next
                            </button>
                            <button mat-button matStepperNext [disabled]="isNextEnable" (click)="skip(q)">
                                Skip
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
            <div *ngSwitchCase="pageItem.Leaderboard">
                <app-leaderboard-presenter (page)="setPage($event)"></app-leaderboard-presenter>
            </div>
        </div>

    </mat-card-content>
</mat-card>