<mat-card>
    <mat-card-header>
        <mat-card-title>
            leaderboard
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row title">
            <div class="col">
                Username
            </div>
            <div class="col">
                Score
            </div>
            <div class="col">
                Date
            </div>
        </div>
        <div *ngFor="let user of leaderBoardList" class="row">
            <div class="col">
                {{user.username}}
            </div>
            <div class="col">
                {{user.score}}
            </div>
            <div class="col">
                {{user.date | date:'medium'}}
            </div>
        </div>
    </mat-card-content>
        <button mat-button (click)="restartGame()" class="btn">
            New Game
        </button>
</mat-card>