.question {
    display: flex;
    justify-content: center;
}

.answers-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 0;
    max-width: 500px;
    margin: auto;
}

.answer {
    width: 45%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px auto;
    max-width: 200px;
}
.q-btn {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 240px;
    img {
        height: 30px;
        margin-right: 20px;
        align-self: center;
    }
}

.btn {
    margin: auto;
    width: 40%;
    border-radius: 25px;
    background-color: #ff8f48;
    display: flex;
    justify-content: center;
    max-width: 180px;
}


